<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatibale" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> New HTML Document File</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
        <link rel="stylesheet" href="style/newstyle.css">
    </head>
    <body>
<!--
    =============================
            Header
    =============================
-->
        <header>
            <section class="header">
                <nav>
                    <a href="#" class="logo"> <img src="imgs/logo.png"></a>
                    <div class="nav-links" id="nav-Links">
                        <i class="fa fa-times" onclick="hideMenu()"></i>
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Courses</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Content</a></li>
                        </ul>
                    </div>
                    <i class="fa fa-bars" onclick="showMenu()"></i>
                </nav>
                <div class="text-box">
                    <h1>
                        World's <span>Biggest</span> University
                    </h1>
                    <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages<br> and more recently with desktop publishing software.</p>
                    <a href="" class="hero-btn">Visit US to Know More</a>
                </div>
            </section>
        </header>

<!--
    =============================
            Courses
    =============================
-->

<section class="course">
    <h1> Coursers We Offer</h1>
    <p> Lorem Ipsum passages and more recently with desktop publishing software. </p>
    <div class="row">
        <div class="course-col">
            <h3>Intermediate</h3>
            <p>It was popularised in the 1960s with the passages and more recently with desktop publishing software.</p>
        </div>
        <div class="course-col">
            <h3>Degree</h3>
            <p>It was popularised in the 1960s with the passages and more recently with desktop publishing software.</p>
        </div>
        <div class="course-col">
            <h3>Post Graduation</h3>
            <p>It was popularised in the 1960s with the passages and more recently with desktop publishing software.</p>
        </div>
    </div>
</section>

<!--
    =============================
            Campus
    =============================
-->
<section class="Campus">
    <h1> Our Globel Campus</h1>
    <p> Lorem Ipsum passages desktop publishing software. </p>

    <div class="row">
        <div class="campus-col">
            <img src="imgs/banner.jpg">
            <div class="layer">
                <h3>LONDON</h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="imgs/5.jpg">
            <div class="layer">
                <h3>New York</h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="imgs/2.jpg">
            <div class="layer">
                <h3>Egypt</h3>
            </div>
        </div>
    </div>
    </section>

<!--
    =============================
        Facilities
    =============================
-->   

    <section class="facilities">
        <h1> Our Facilities </h1>
        <p> Lorem Ipsum passages and more recently with desktop publishing software. </p>
        <div class="row">
            <div class="fac-column">
            <img src="imgs/lib.png">
            <h3> World Class Library</h3>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passage software.</p>
            </div>
            <div class="fac-column">
                <img src="imgs/bb.png">
                <h3> Basketball PlayGround</h3>
                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passage software.</p>
                </div>
                <div class="fac-column">
                    <img src="imgs/Cafe.png">
                    <h3> Tasty and Healthy Food</h3>
                    <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passage software.</p>
                    </div>
                 </div>
    </section>

<!--
    =============================
        Testemonions
    =============================
-->   
<section class="testimonials">
    <h1> What Students Say.. </h1>
        <p> Lorem Ipsum passages and more recently. </p>
        <div class="row">
                <div class="testimonials-column">
                    <img src="imgs/Charlie.jpg">
                    <div>
                <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages and more recently with desktop publishing software.</p>
                <h3> Charlie Chaplin</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half"></i>
                </div>
            </div>
        <div class="testimonials-column">
            <img src="imgs/Charlie.jpg">
            <div>
        <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages and more recently with desktop publishing software.</p>
        <h3> Charlie Chaplin</h3>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        </div>
        </div>
            </div>
              </section>

<!--
    =============================
        Call To Action
    =============================
-->

    <section class="CTA">
        <h1> Lorem Ipsum passages and more recently<br>with desktop publishing software. </h1>
        <a href="" class="hero-btn"> Contact US</a>
    </section>

<!--
    =============================
        Footer
    =============================
-->

<section class="footer">
<h4> About Us</h4>
<p>Lorem Ipsum is simply. Lorem containing Lorem Ipsum passages, and more<br> recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>
<div class="icons">
<i class="fa-brands fa-facebook"></i>
<i class="fa-brands fa-twitter"></i>
<i class="fa-brands fa-instagram"></i>
<i class="fa-brands fa-linkedin"></i>
</div>
<p>Made with <i class="fa fa-heart"></i> By Mohamed Badr</p>
</section>

<!--
    =============================
     JavaScript for Toggle Menu
    =============================
-->
        <script>
            var navLinks = document.getElementById("nav-Links");
            function hideMenu(){
                navLinks.style.right ="-200px";
            }
            function showMenu(){
                navLinks.style.right ="0";
            }
        </script>
    </body>
</html>